# {{ subject }}

{% for field in submission.form.getRelevantFields() %}
    <p>
        <strong>{{ field.label }}</strong><br>

        {% if field._field_type == "fileupload" %}

            {% for file in submission[field.name] %}
                {% if not isCC %}
                    <a href="{{ file.getPath() }}">
                        {{ file.filename }}
                    </a>
                {% else %}
                    {{ file.filename }}
                {% endif %}
                ({{ file.size }})
            {% endfor %}

        {% elseif field.type == 'date' %}

            {{ submission[field.name] | date('d.m.Y') }}

        {% else %}

            {{ submission[field.name] | nl2br }}

        {% endif %}
    </p>
{% endfor %}
