{% partial __SELF__ ~ '::label' field=field %}

<select
    class="{{ __SELF__.classNames('form-control', 'form-control--' ~ field._field_type) }}"
    name="{{ field.id }}"
    id="{{ field.id }}"
>
    <option hidden disabled selected value>-- {{ field.emptyOption | default(field.label) }}</option>
    {% for option in field.options %}
        {% set value = option.value | default(option.label) %}
        <option
            {{ value == field.value ? 'selected' }}
            value="{{ option.value | default(option.label) }}"
        >
            {{ option.label }}
        </option>
    {% endfor %}
</select>
